@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Charmonman:wght@400;700&family=Dancing+Script:wght@400;600;700&family=Monoton&family=Mr+Dafoe&family=Mrs+Saint+Delafield&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Sofia+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;index.html
    style.css
}

/* body:before {
    display: flex;
    content: '';
    height: 60px;
} */

.font-fam {
    font-family: charmonman;
    font-weight: 700;
    font-size: 24px;
}

.text-justfy {
    text-align: center !important;
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.p-6 {
    padding-top: 100px;
}

.bg-grey {  
    background-color: rgb(60, 60, 70);
}

.bg-silver {
    background-color: silver;
}

.bg-lightblue {
    background-color: rgb(150, 185, 245);
}

.boederr {
    border: 5px solid red;
}

.left {
    left: 40px;
}